form{
    background:#898996;
    /* the code changes the flexbility of the form. brings it to the center */
    display:flex;
    /* puts the form elements in column */
    flex-direction: column;
}

form div{
align-self: center;
}
/* codes for the submit button */
button{
    color:#dbabf;
    background: #256c41;
}