form {
    width: 740px;
    height: 498px;
    margin: 0 auto;
    padding: 16px; 
    box-sizing:border-box;
    border-radius: 12; 
  }

/* codes for the submit button */
button{
        padding: 5px;
        font-weight: bold;
        border-radius:5px;
        background:rgb(25, 173, 94);
        cursor:pointer;
}

input,
textarea {
  border-radius: 12px;
  padding:15px;
  margin: 10;
  width: 100%;
  background:#ffff;
}