body{
    /* sets the background color for the whole document */
    background-color:#4b7292;
    /* Puts the content in the center of the webpage */
    align-content: center;
    /* Sets the font for all the content */
    font-family:Verdana, Arial,Helvetica,sans-serif;
}

body h2{
    /* puts the title in the center */
    text-align: center;
}
footer{
    text-align: center;
    align-self: flex-end;
}