header {
    /* Sets the background color of the header and 
    navigation bar */
    background:#0B1C51;
    /* sets the font size fo the header */
    font-size: 52px;
    /* adds 40 pixels of space under the header so that the 
    main content isn't too close to the navigation. */
    margin-bottom: 40px;
}
header h1 nav ul li a{
    /* sets the font of the links to `Montserrat` */
font-family: helvetica;
/* Sets the color to white */
color: #fff;
/* removes the decoration from the link */
text-decoration: none;

}
@media all and (min-width: 600px){
 header {
    font-size:48px;
 }
}